@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

#root {
  background-color: #D3E0E2;
}
 html {
   background-color: #D3E0E2;
 }
* {
  font-family: 'Actor', sans-serif;
}

.color-nav {
  background-color: #F1684E;
}
